examples/nodered/flow_mqtt_to_http.json
[
    {
        "id": "3056f0eecb8f2829",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "058de9d2f7e8407f",
        "type": "mqtt in",
        "z": "3056f0eecb8f2829",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf16600813226eb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "7f94bd2d352adb93"
            ]
        ]
    },
    {
        "id": "7f94bd2d352adb93",
        "type": "function",
        "z": "3056f0eecb8f2829",
        "name": "function 1",
        "func": "function isoNow() { return new Date().toISOString(); }\n\n// Expect: sensors/<device_id>/<metric>\nconst parts = (msg.topic || \"\").split(\"/\");\nif (parts.length < 3) {\n  node.warn(\"Unexpected topic: \" + msg.topic);\n  return null;\n}\n\nconst deviceId = parts[1];\nconst metricName = parts[2];\n\n// Convert payload to number\nconst value = Number(msg.payload);\nif (!Number.isFinite(value)) {\n  node.warn(`Non-numeric payload for ${msg.topic}: ${msg.payload}`);\n  return null;\n}\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n  device_id: deviceId,\n  timestamp: isoNow(),          // optional, but nice for traceability\n  metrics: { [metricName]: value }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "44283661ca586f1a"
            ]
        ]
    },
    {
        "id": "44283661ca586f1a",
        "type": "http request",
        "z": "3056f0eecb8f2829",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:8000/ingest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "04bd74a65fa0c867"
            ]
        ]
    },
    {
        "id": "04bd74a65fa0c867",
        "type": "debug",
        "z": "3056f0eecb8f2829",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "bf16600813226eb9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]